<h1>Detalle de un libro</h1>


<mat-card class="example-card">

    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>

    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-subtitle>{{book.price}}€</mat-card-subtitle>

    <mat-card-content>
      <p>{{book.description}}</p>

    </mat-card-content>

    <mat-divider inset></mat-divider>

    <mat-card-actions>
      <button mat-button>Editar</button>
      <button mat-button>Borrar</button>
      <button mat-button>Volver</button>
    </mat-card-actions>

    <mat-card-footer>
      <small>Fecha publicación: 20/10/2022</small>
    </mat-card-footer>
</mat-card>